# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
.pub/
build/
flutter_*.png
coverage/
ios/Flutter/flutter_export_environment.sh

# Android related
*.iml
.gradle/
**/gradle-wrapper.jar
/local.properties
/.idea/
android/app/debug
android/app/profile
android/app/release

# iOS/Xcode related
**/DerivedData/
**/Pods/
**/.symlinks/
**/Flutter/ephemeral/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/.generated/
ios/Runner/GeneratedPluginRegistrant.*

# VS Code related
.vscode/
.idea/

# macOS related
.DS_Store

# Windows related
Thumbs.db

# Web related
web/.dart_tool/
web/build/

# Firebase related (optional)
**/google-services.json
**/GoogleService-Info.plist

# Other temporary files
*.log
*.tmp
*.bak
*.swp
*.lock
